{% extends "base.html" %}
{% block title %}About - {{ super() }}{% endblock %}
{% block container %}
<section>
{{ article_h1("About") }}
<div id="content">
<h3>This blog</h3>
<p>
    I wrote this blog in Python using <a href="http://flask.pocoo.org/">Flask</a>, a micro-framework, and its siblings
    <a href="http://jinja.pocoo.org/">Jinja</a>, a templating engine, and <a href="http://werkzeug.pocoo.org/">Werkzeug</a>, a WSGI utility library.
</p>
<p>
    Text formatting takes advantage of <a href="https://pypi.python.org/pypi/Markdown">markdown</a>, while code
    highlighting was made possible by yet another Pocoo product,
    <a href="http://pygments.pocoo.org/">Pygments</a>.
</p>
<p>
    Comments are powered by
    <a href="https://disqus.com">Disqus</a>.
</p>
<p>
    The main purpose of this blog was to practice Python and the mentioned
    Flask framework working on a reasonable project, but also to write down
    some thoughts and notes about code and software development in general.
</p>

<h3>Who I am</h3>
<!-- TABLE HORROR -->
<table><tr><td><p>
    I am a mostly self-taught developer, interested in high- and low-level
    programming (including embedded systems' issues, like memory management and
    signal processing), software life cycle and development patterns.
</p></td>
<td style="padding-left:10px;"><p>
    <a href="http://stackexchange.com/users/1462865">
        <img src="http://stackexchange.com/users/flair/1462865.png" width="208" height="58" alt="profile for Nadir Sampaoli on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Nadir Sampaoli on Stack Exchange, a network of free, community-driven Q&amp;A sites">
    </a>
</p></td></tr></table>
</div>
</section>
{% endblock %}
