{# ---------------------------- MACROS ------------------------------------ #}
{%- macro article_url(post) -%}
/articles/{{ post.id}}/{{ slugify(post.title) }}
{%- endmacro -%}

{% macro tag_widget(tag) %}
    <a href="{{ tag_url(tag) }}" class="tag button button-small">{{ tag }}</a>
{%- endmacro -%}
{%- macro tag_url(tag) -%}
{{ url_for('index_tagged', tag=tag) }}
{%- endmacro -%}

{%- macro word_first_char_red(word, size='121%') -%}
<span class="first_char" style="font-size:{{size}};">{{ word[0] }}</span>{{ word[1:] }}
{%- endmacro -%}

{%- macro title_h1(name, link='', classes='textshadowlight') -%}
{% set slug_title = slugify(name) %}
<h1 id="title" class="{{ classes }}">
    <a id="{{ slug_title }}" href="{{ link }}">
    {{ word_first_char_red(name) }}</a>
</h1>
{%- endmacro -%}

{%- macro article_h1(name, link='', classes='textshadowlight') -%}
{% set slug_title = slugify(name) %}
<h1 id="title" class="{{ classes }}">
    <a id="{{ slug_title }}" href="{{ link }}#{{ slug_title }}">
    {{ word_first_char_red(name) }}</a>
</h1>
{%- endmacro -%}

{%- macro linkify(text, href, classes="") -%}
    <a href="{{ href }}" class="{{ classes }}">{{ text }}</a>
{%- endmacro -%}

{%- macro preview_post_short(post, tags_without_link=[]) -%}
<section class="short_entry">
    <h2 class="textshadowlight"><a href="{{ article_url(post) }}">{{ word_first_char_red(post.title) }}</a></h2>
    <div><sup>
        {%- for tag in post.tags %}
            {% if tag not in tags_without_link %}{{ linkify(tag, href=tag_url(tag), classes="button button-small") }}
            {% else %}<span class="badge button-small">{{ tag }}</span>{% endif -%}
            {%- if not loop.last %} {% endif -%}
        {% endfor %}
    </sup></div>
    <section>
        <span class="time"><time>{{ post.date }}</time>&nbsp;&mdash;&nbsp;</span>
        {{ post.short_content_html }}
    </section>
</section>
{%- endmacro -%}
{# ---------------------------- END MACROS -------------------------------- #}
{%- set sitename = "Parerga" -%}
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{sitename}}, technical blog, programming languages, software development, craftsmanship"/>
    <meta name="google-site-verification" content="7yA0f1sLgXjk8IFijWzDwANVtKYcZyfKvINWE5GKJyw" />
    <title>{% block title -%}{{ sitename }}{%- endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={{ url_for("static", filename="style.css") }} />
    <link rel="stylesheet" href={{ url_for("static", filename="pygments.css") }} />
    <!---->
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.png") }}" />
    <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <section id="wrapper">
    <header>
        <section class="center" id="logo">
        <a href="/">
            {{ word_first_char_red('Parerga') }}
        </a>
        </section>
        {% block header %}
        <nav class="index">
        <ul>
            {% set navigation = [
            ("/", "index"),
                    (url_for("index_tags"), "tags"),
                    (url_for("about"), "about")
                ] %}
            {%- for href, caption in navigation -%}
            <li>
                <a class="button" href="{{ href }}">{{ caption|e }}</a>
            </li>
            {# if not loop.last %} | {% endif #}
            {%- endfor %}
        </ul>
        </nav>
        {%- endblock %}
    </header>
    <section>
        <article>
            {% block container %}
            {% endblock %}
        </article>
    </section>
    <footer class="footer">
    {% block footer %}
        <section class="center">
            <hr />
            <div class="cclicense">
                <sub>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
                    <br /><span>© 2013 ~ <a href="{{url_for("about")}}" rel="author">Nadir Sampaoli</a></span>
                    <br />
                    {%- for page in ["sitemap"] -%}{# TODO: for page in "sitemap", "feed" #}
                        <a class="button button-small" href="{{ url_for(page) }}">{{ page|e }}</a>
                    {%- endfor -%}

                </sub>
        </section>
    {% endblock %}
    </footer>
</section>
{% block javascripts %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36310777-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endblock %}
</body>
</html>
