{% extends "base.html" %}
{% block title %}
    {{ post.title }} - {{ super() }}
{% endblock %}
{% block container %}
    <section id="content">
    <em class="article_date">{{ post.date }}</em>
    {{ article_h1(post.title, link=("/"~post.id~"/")) }}
    <section class="taglist">
        <sup>
            {%- for tag in post.tags -%}
            <a href="/tag/{{ tag }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
            {%- endfor -%}
        </sup></section>
    {{ post.content_html }}
    </section>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'parerga';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
