{% extends "base.html" %}
{% block title %}Tagged '{{ tag }}' - {{ super() }}{% endblock %}
{% block container %}
    <section id="content">
    {% if posts %}
    {{ title_h1("Search results") }}
        <p>Entries tagged <em class="badge button-small">{{ tag }}</em></p>
        {% for post in posts|reverse %}
            {{ preview_post_short(post, [tag]) }}
        {% endfor %}
    {% else %}
    {{ title_h1("Tag not found")}}
        <p>No entries were found for the corresponding tag '{{ tag }}'.
            Did you mean <a href="/tag/">something else</a>?</p>
    {% endif %}
    </section>
{% endblock %}
