.hll { background-color: #ffffcc }
 { background: #2B2B2B; color: #E6E1DC; background-color: #2B2B2B }
.c { color: #BC9458; font-style: italic; background-color: #2B2B2B } /* Comment */
.err { color: #E6E1DC; background-color: #2B2B2B } /* Error */
.g { color: #E6E1DC; background-color: #2B2B2B } /* Generic */
.k { color: #CC7833; background-color: #2B2B2B } /* Keyword */
.l { color: #E6E1DC; background-color: #2B2B2B } /* Literal */
.n { color: #E6E1DC; background-color: #2B2B2B } /* Name */
.o { color: #E6E1DC; background-color: #2B2B2B } /* Operator */
.x { color: #E6E1DC; background-color: #2B2B2B } /* Other */
.p { color: #E6E1DC; background-color: #2B2B2B } /* Punctuation */
.cm { color: #BC9458; font-style: italic; background-color: #2B2B2B } /* Comment.Multiline */
.cp { color: #CC7833; background-color: #2B2B2B } /* Comment.Preproc */
.c1 { color: #BC9458; font-style: italic; background-color: #2B2B2B } /* Comment.Single */
.cs { color: #BC9458; font-style: italic; background-color: #2B2B2B } /* Comment.Special */
.gd { color: #E6E1DC; background-color: #660000 } /* Generic.Deleted */
.ge { color: #E6E1DC; background-color: #2B2B2B } /* Generic.Emph */
.gr { color: #FFFFFF; background-color: #990000 } /* Generic.Error */
.gh { color: #FFFFFF; background-color: #2B2B2B } /* Generic.Heading */
.gi { color: #E6E1DC; background-color: #144212 } /* Generic.Inserted */
.go { color: #888888; background-color: #1E1E1E } /* Generic.Output */
.gp { color: #E6E1DC; background-color: #2B2B2B } /* Generic.Prompt */
.gs { color: #E6E1DC; background-color: #2B2B2B } /* Generic.Strong */
.gu { color: #FFFFFF; background-color: #2B2B2B } /* Generic.Subheading */
.gt { color: #E6E1DC; background-color: #2B2B2B } /* Generic.Traceback */
.kc { color: #CC7833; background-color: #2B2B2B } /* Keyword.Constant */
.kd { color: #CC7833; background-color: #2B2B2B } /* Keyword.Declaration */
.kn { color: #CC7833; background-color: #2B2B2B } /* Keyword.Namespace */
.kp { color: #CC7833; background-color: #2B2B2B } /* Keyword.Pseudo */
.kr { color: #CC7833; background-color: #2B2B2B } /* Keyword.Reserved */
.kt { color: #DA4939; background-color: #2B2B2B } /* Keyword.Type */
.ld { color: #E6E1DC; background-color: #2B2B2B } /* Literal.Date */
.m { color: #A5C261; background-color: #2B2B2B } /* Literal.Number */
.s { color: #A5C261; background-color: #2B2B2B } /* Literal.String */
.na { color: #FFC66D; background-color: #2B2B2B } /* Name.Attribute */
.nb { color: #E6E1DC; background-color: #2B2B2B } /* Name.Builtin */
.nc { color: #E6E1DC; background-color: #2B2B2B } /* Name.Class */
.no { color: #6D9CBE; background-color: #2B2B2B } /* Name.Constant */
.nd { color: #E6E1DC; background-color: #2B2B2B } /* Name.Decorator */
.ni { color: #E6E1DC; background-color: #2B2B2B } /* Name.Entity */
.ne { color: #E6E1DC; background-color: #2B2B2B } /* Name.Exception */
.nf { color: #FFC66D; background-color: #2B2B2B } /* Name.Function */
.nl { color: #E6E1DC; background-color: #2B2B2B } /* Name.Label */
.nn { color: #E6E1DC; background-color: #2B2B2B } /* Name.Namespace */
.nx { color: #E6E1DC; background-color: #2B2B2B } /* Name.Other */
.py { color: #E6E1DC; background-color: #2B2B2B } /* Name.Property */
.nt { color: #CC7833; background-color: #2B2B2B } /* Name.Tag */
.nv { color: #FFC66D; background-color: #2B2B2B } /* Name.Variable */
.ow { color: #E6E1DC; background-color: #2B2B2B } /* Operator.Word */
.w { color: #E6E1DC; background-color: #2B2B2B } /* Text.Whitespace */
.mf { color: #A5C261; background-color: #2B2B2B } /* Literal.Number.Float */
.mh { color: #A5C261; background-color: #2B2B2B } /* Literal.Number.Hex */
.mi { color: #A5C261; background-color: #2B2B2B } /* Literal.Number.Integer */
.mo { color: #A5C261; background-color: #2B2B2B } /* Literal.Number.Oct */
.sb { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Backtick */
.sc { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Char */
.sd { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Doc */
.s2 { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Double */
.se { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Escape */
.sh { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Heredoc */
.si { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Interpol */
.sx { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Other */
.sr { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Regex */
.s1 { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Single */
.ss { color: #A5C261; background-color: #2B2B2B } /* Literal.String.Symbol */
.bp { color: #E6E1DC; background-color: #2B2B2B } /* Name.Builtin.Pseudo */
.vc { color: #FFC66D; background-color: #2B2B2B } /* Name.Variable.Class */
.vg { color: #FFC66D; background-color: #2B2B2B } /* Name.Variable.Global */
.vi { color: #FFC66D; background-color: #2B2B2B } /* Name.Variable.Instance */
.il { color: #A5C261; background-color: #2B2B2B } /* Literal.Number.Integer.Long */

.codehilite pre {
    background-color: #2b2b2b;
    border: 2px solid transparent;
    border-color: #000 transparent transparent #000;
    margin-left: 0;
    margin-right: 0;
}
.linenos pre {
    -moz-border-radius: 6px 0px 0px 6px;
    border-radius: 6px 0px 0px 6px;
    color: #e6e1dc;
    margin-right: 4px;
}
.codehilite pre {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.code .codehilite pre {
    -moz-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;
}
